/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li, form, input, button, select, option {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Apply a basic font style and size */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background-color: #f4f4f4;
}
label {
	display: block;
	margin-bottom: 8px;
}	
.top-part{
	display: grid;
	grid-gap: 10px;
}
fieldset{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 12px;
}
fieldset[name="reference"]{
	grid-row: 1 / 7;
	grid-column: 2 / 3;
}
div[name="programselect"]{
	display:grid;
	grid
}
legend {
	font-weight: bold;
	font-size: 20px;
}
input[type="checkbox"] {
	margin-right: 8px;
	font-size: 24px;
}
header {
	display: flex;
	flex-direction: column; /* Change flex direction to column */
	align-items: center; /* Center items horizontally */
	text-align: center;
	padding: 10px;
	border-radius: 0 0 20px 20px;
	background-color: #335879;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	margin-top: 0;
}
.header-top{
	display: flex;
	flex-direction: column;
	align-items: center; /* Center items horizontally */
	margin-left: auto;
	margin-right: auto;
}
header img {
	max-height: 50px;
	margin-bottom: 10px;
}
/* Style the form container */
form {
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/* Style form fields */
label {
	margin: 6px;
	display: block;
	margin-bottom: 6px;
}
input[type="email"],
select,
input[type="text"],
button {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	grid-column: 1 / 2;
	font-size: 20px;
	margin-top: 8px;
}
input[type="email"]{
	margin-top: 24px;
}
/* Style form submit button */
button {
	background-color: #707f43;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 24px;
	transition: 0.3s;
}
button:hover {
	background-color: #45a049;
}
footer {
	text-align: center;
	margin-top: 20px;
	color: #555;
}
footer img {
	max-height: 65px;
	margin-bottom: 10px;
}
#otherReference {
	display: none;
}
.subformTitle{
	color: #335879;
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}